/* estilos globais */
* {
 margin: 0;
 padding: 0;
}

html, body {
 height: 100%;
}

/* Estilo de corpo */
body {
  background-color: #f0f0f0;
  color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

button {
  padding: 5px;
  border: none;
  width: 96px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 0.5s ease-in-out;
}

/* Estilo de cabeçalho */
.container-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.title-container button {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 60px;
  background-color: #00ffff;
}

.title-container p {
  font-size: 16x;
  font-weight: normal;
  text-align: center;
}

/* Botões de Gênero */
.genre-buttons{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px
}

.genre-button {
  height: 160px;
  width: 160px;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out, transform 0.5s;
  position: relative;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  gap: 2px;
  border-radius: 8px;
  overflow: hidden;
}

.img-container img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: filter 0.5s ease-in-out, transform 0.5s;
}

.genre-button:hover{
  transform: scale(1.1);
}

.genre-button:hover .img-container img{
  filter: blur(3px) brightness(70%);
  transform: scale(1.1);
}

.genre-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  opacity: 0; /* deixa a opacidade total escondendo o elemento inicialmente*/
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.genre-button:hover span {
  opacity: 1; /* torna visivel ao ativar o hover*/
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

/* Estilo do container principal */
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px;
}

.username {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  border: none;
}
.start {
  display: flex;
  padding: 16px;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.start button {
  background-color: #e6194b;
  color: white;
}


.start-game:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.stop-game:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

/* Elementos para ativação no script */
.hide {
  display: none;
}


/* Estilo do container de resultados */
@media (min-width: 768px) {
  /* Ajusta o layout para desktop */
 .container-header .container-main {
  max-width: 100%; /* para acionar o tamanho máximo disponivel em diferentes telas*/
}
}